.group-forms {
    text-align: center;
}

/* .frame-size {
    width: fit-content;
    height: 200px;
} */

@font-face {
    font-family: 'bein';
    src: url('/static/bein-black.ttf');
}


h2 {
    font-family: 'bein';
    color: rgb(223, 146, 39);
    font-size: 3.2.9vw;
}


.banner {
    width: 85%;
    height: auto;
}

.frame-size {
    width: 842px;
    height: 595px;
}

.container {
    position: relative;
    text-align: center;
}

.centered {
    white-space: nowrap;
    position: absolute;
    transform-origin: center center;
    top: 540px;
    left: 550px;
    font-family: 'AdobeArabic', sans-serif;
    /* transform: translate(-50%, -50%); */
    font-size: 60pt;
    color: black;
}